@model ProjectSalesCore.ViewModel.BankDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    <table class="table>
        <tr>
            <th>
                Number
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var t in Model.Telephones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => t.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.Description)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <table class="table>
        <tr>
            <th>
                Address
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var t in Model.Addresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => t.AddressName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.Description)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBank }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    